<main class="aside-card-container profile-widget">
    <section class="is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
        <section class="is-flex is-justify-content-center avatar is-clipped skeleton">
            <img class="js-img-fadeIn" src="/images/avatar.jpg" alt="user avatar"></section>
        <h3 class="user-name">Marco Guido</h3>
        <blockquote class="has-text-centered is-relative">
            <span style="margin-bottom: 5px;">Programming, opinions and stuff</span>
        </blockquote>
        <address class="has-text-centered has-text-grey">
            <i class="iconfont icon-location" style="margin-right: 5px;"></i>
            <span class="has-text-grey">Toronto, ON</span>
        </address>
    </section>
    <section class="sns-container is-flex is-justify-content-center is-align-items-center">
        <!-- Twitter--><a title="twitter" target="_blank" rel="noopener nofollow" href="//twitter.com/guidotorresmx"><i class="iconfont icon-twitter"></i></a>
        <!-- Github--><a title="github" target="_blank" rel="noopener nofollow" href="//github.com/guidotorresmx"><i class="iconfont icon-github"></i></a>
        <!-- Instagram--><a title="instagram" target="_blank" rel="noopener nofollow" href="//www.instagram.com/guidotorresmx"><i class="iconfont icon-ins"></i></a>
        <!-- Linkedin--><a title="linkedin" target="_blank" rel="noopener nofollow" href="//www.linkedin.com/in/guidotorresmx"><i class="iconfont icon-linkedin"></i></a>
        <!-- Facebook--><a title="facebook" target="_blank" rel="noopener nofollow" href="//www.facebook.com/guidotorresmx"><i class="iconfont icon-tian7_facebook"></i></a>
        <!-- mail--><a title="mail" target="_blank" rel="noopener nofollow" href="mailto:marco@guidotorres.mx"><i class="fa fa-solid fa-envelope-open"></i></a>
        <!-- whatsapp--><a title="whatsapp" target="_blank" rel="noopener nofollow" href="//wa.me/16479066194"><i class="fa fa-brands fa-whatsapp"></i></a>
        <!-- telegram--><a title="telegram" target="_blank" rel="noopener nofollow" href="//t.me/guidotorresmx"><i class="fa fa-brands fa-telegram"></i></a>
    </section>
</main>